a(href='/admin/users') Manage Users
span &nbsp;|&nbsp;
a(href='/admin/nodes') Manage Nodes
span &nbsp;|&nbsp;
a(href='/admin/apikeys') Manage API Keys
span &nbsp;|&nbsp;
a(href='/profile') Profile
span &nbsp;|&nbsp;
a(href='/logout') Logout
